.slider {
  height: 577px;
  background: #19b4c6; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #19b4c6 0%, #078aa4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #19b4c6 0%,#078aa4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #19b4c6 0%,#078aa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}